.attempts {
  font-size: 1.2em;
  color: #ff6347;
  text-align: center;
  margin-top: -10px;
}

.hidden {
  display: none;
}

#solution {
  margin-top: 20px;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}
