* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
}

.title {
  font-size: 2em;
  color: #ff6347;
  margin-bottom: 21px;
}

.grid {
  position: center;
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
  gap: 5px;
}

.word-grid {
  display: contents;
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  text-align: center;
  background-color: #444;
  color: #fff;
  border: 2px solid #555;
  border-radius: 5px;
  text-transform: uppercase;
}

.centered-attempts {
  font-size: 1.2em;
  color: #ff6347;
}

.alert {
  margin-top: 20px;
  color: red;
  font-size: 1em;
}

.hidden {
  display: none;
}

.validate-button {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilos específicos para móviles */
@media (max-width: 600px) {
  .validate-button {
    display: inline-block;
  }
}

.correct-position {
  background-color: #87CEFA; /* Celeste */
}

.wrong-position {
  background-color: #FFD700; /* Amarillo */
}

.incorrect {
  background-color: #FFF; /* Blanco */
}

.full-correct {
  background-color: #FFA07A; /* Naranja claro */
}
